@use './base.scss';

#app {
  max-width: 1280px;

  margin: 0 0;
  font-weight: normal;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: var(--color-background);
  transition: 0.4s;
  padding: 3px;

  display: inline-flex;
  align-items: center;

  background-color: transparent !important;

  cursor: pointer;

  &:hover,
  &.active {
    color: var(--color-primary);
  }
}

.container-table {
  width: 100%;
  
  margin-top: 1rem;
  
  flex-direction: column;

  gap: 1.5rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  
  overflow-x: scroll;
  white-space: normal;
  
  display: table-cell;
}

th, td {
  border: 1px solid;

  padding: .5rem 1rem;
}

th {
  font-weight: 700;
}

td {
  text-align: center;
}
td.align-left {
  text-align: left;
}
td.align-right {
  text-align: right;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

