@use './base.scss';

#app {
  max-width: 1280px;
  height: 100vh;

  margin: 0 0;
  /* padding: 1rem 1.5rem; */
  font-weight: normal;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: var(--color-background);
  transition: 0.4s;
  padding: 3px;

  display: inline-flex;
  align-items: center;

  background-color: transparent !important;

  &:hover,
  &.active {
    color: var(--color-primary);
  }
}

.container-table {
  margin-top: 1rem;

  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid;

  padding: .5rem 1rem;
}

th {
  font-weight: 700;
}

td {
  text-align: center;
}
td.align-left {
  text-align: left;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
}
